@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
:root {
  --primary-color: #8a2be2;
  --secondary-color: #e6e6fa;
  --header-color: #0066ff;
  --header-text-color: #ffffff;
  --font-color: #000000;
  --shadow-color: #999;
  --accent-color: #f2f2ff;
}

[data-theme="dark"] {
  --primary-color: #6d1fb6;
  --secondary-color: #1e2020;
  --header-color: #033177;
  --font-color: #fdffe9;
  --shadow-color: #515455;
  --accent-color: #292c2c;
  opacity: 0.6;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.header {
  background-color: var(--header-color);
  color: var(--header-text-color);
}

.header .txt {
  padding: 10vh 0;
  text-align: center;
  font-size: 200%;
}

.content .title {
  padding: 2%;
  text-align: center;
  font-weight: 600;
  font-size: 140%;
}

.content {
  color: var(--content-color);
}

.content .details {
  text-align: center;
  font-weight: 600;
}

.content table {
  margin: 5vh auto;
  width: 80%;
  text-align: center;
  font-size: 130%;
  border-collapse: collapse;
  box-shadow: 0px 1px 2px 1px var(--shadow-color);
}

.content th, td {
  height: 20px;
  padding: 5px;
}

.content th {
  background-color: var(--primary-color);
  color: var(--header-text-color);
}

.content td {
  color: var(--font-color);
}

.content tr:hover {
  background-color: var(--accent-color);
}

.loc {
  margin: 3vh auto;
  text-align: center;
  font-size: 110%;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color);
  color: var(--header-text-color);
  font-weight: 400;
  width: 100%;
}

.footer .txt {
  padding: 2vh;
  text-align: center;
}

.footer a:link {
  color: var(--header-text-color);
  text-decoration: none;
  text-align: center;
  text-decoration: none;
}

.footer a:visited {
  color: var(--header-text-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--header-text-color);
  text-decoration: none;
}

.footer a:active {
  color: var(--header-text-color);
  text-decoration: none;
}