@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #e6e6fa;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #0066ff;
}

.txt {
  padding: 10vh 0;
  text-align: center;
  color: white;
  font-size: 200%;
}

.content .title {
  padding: 2%;
  text-align: center;
  font-weight: 600;
  font-size: 140%;
}

.content .details {
  padding: 2%;
  text-align: center;
  font-weight: 600;
}

.content table {
  margin: 5vh auto;
  width: 80%;
  text-align: center;
  font-size: 130%;
  border-collapse: collapse;
  box-shadow: 0px 1px 1px 1px #999;
}

.content th, td {
  height: 20px;
  padding: 5px;
}

.content th {
  background-color: blueviolet;
  color: white;
}

.content tr:hover {
  background-color: #f2f2ff;
}

.loc {
  margin: 5vh auto;
  text-align: center;
  font-size: 130%;
}